@import '../../rialtoPublicLibrary/js/jquery/Jquery UI theme/Smoothness/jquery-ui-1.8.11.custom.css';

@import '../../rialtoPublicLibrary/js/jquery/plugins/fancybox/jquery.fancybox-1.3.4.css';

@import '../../rialtoPublicLibrary/js/jquery/plugins/validationEngine/validationEngine.jquery.css';

@import '../../rialtoPublicLibrary/js/mootools/plugins/datepicker_rialto/datepicker_rialto.css';
/*Colors*/
/* MIXINS */
/* ============================================= GENERAL CLASSES ====================================== */
.flex-box {
  display: -moz-box;
  display: -o-box;
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.box-hor {
  display: -moz-box;
  display: -o-box;
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}
.box-ver {
  display: -moz-box;
  display: -o-box;
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.box-flex-1 {
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.box-flex-2 {
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}
.box-flex-3 {
  -moz-box-flex: 3;
  -o-box-flex: 3;
  -webkit-box-flex: 3;
  box-flex: 3;
}
.box-flex-4 {
  -moz-box-flex: 4;
  -o-box-flex: 4;
  -webkit-box-flex: 4;
  box-flex: 4;
}
.box-flex-5 {
  -moz-box-flex: 5;
  -o-box-flex: 5;
  -webkit-box-flex: 5;
  box-flex: 5;
}
.no-padding {
  padding: 0px !important;
}
.padding-top-small {
  padding-top: 5px !important;
}
.padding-top-medium {
  padding-top: 10px !important;
}
.padding-top-large {
  padding-top: 20px !important;
}
.padding-bottom-small {
  padding-bottom: 5px !important;
}
.padding-bottom-medium {
  padding-bottom: 10px !important;
}
.padding-bottom-large {
  padding-bottom: 20px !important;
}
.padding-left-small {
  padding-left: 5px !important;
}
.padding-left-medium {
  padding-left: 10px !important;
}
.padding-left-large {
  padding-left: 20px !important;
}
.padding-right-small {
  padding-right: 5px !important;
}
.padding-right-medium {
  padding-right: 10px !important;
}
.padding-right-large {
  padding-right: 20px !important;
}
.padding-small {
  padding: 5px;
}
.padding-medium {
  padding: 10px;
}
.padding-large {
  padding: 20px;
}
.margin-left-small {
  margin-left: 5px !important;
}
.margin-left-medium {
  margin-left: 10px !important;
}
.margin-left-large {
  margin-left: 20px !important;
}
.margin-right-small {
  margin-right: 5px !important;
}
.margin-right-medium {
  margin-right: 10px !important;
}
.margin-right-large {
  margin-right: 20px !important;
}
.margin-top-small {
  margin-top: 5px !important;
}
.margin-top-medium {
  margin-top: 10px !important;
}
.margin-top-large {
  margin-top: 20px !important;
}
.margin-bottom-small {
  margin-bottom: 5px !important;
}
.margin-bottom-medium {
  margin-bottom: 10px !important;
}
.margin-bottom-large {
  margin-bottom: 20px !important;
}
.margin-small {
  margin: 5px;
}
.margin-medium {
  margin: 10px;
}
.margin-large {
  margin: 20px;
}
.width-auto {
  width: auto !important;
}
.width-100 {
  width: 100% !important;
}
.height-100 {
  height: 100% !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.align-center {
  text-align: center !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.position-relative {
  position: relative !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.clear-both {
  clear: both;
}
.borderless {
  border: none !important;
  background-color: none;
}
.border-left {
  border-left: 1px solid #cccccc;
}
.border-right {
  border-right: 1px solid #cccccc;
}
.border-top {
  border-top: 1px solid #cccccc;
}
.border-bottom {
  border-bottom: 1px solid #cccccc;
}
.bordered {
  border: 1px solid #cccccc;
}
.inactive {
  color: #e0e0e0 !important;
}
.pending {
  color: #e0e0e0;
}
.rounded {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.hidden {
  display: none !important;
}
.date {
  width: 90px;
}
.inline-block {
  display: inline-block !important;
  width: auto;
  vertical-align: top;
}
.block {
  display: block !important;
}
.display-table {
  display: table !important;
}
.table-cell {
  display: table-cell !important;
}
.table-row {
  display: table-row !important;
}
.attention {
  background-color: #d5edf8;
}
.img-mini {
  width: 100px;
  height: 100px;
}
.img-small {
  width: 200px;
  height: 180px;
}
.img-medium {
  width: 200px;
  height: 200px;
}
.img-large {
  width: 300px;
  height: 350px;
}
.img-thumb-mini {
  width: 20px;
  height: 20px;
}
.img-thumb-small {
  width: 35px;
  height: 35px;
}
.img-thumb-medium {
  width: 40px;
  height: 40px;
}
.img-thumb-large {
  max-width: 60px;
  max-height: 60px;
}
#debugg {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  background: #fff6bf;
  z-index: 1;
}
.ui-effects-transfer {
  border: 2px dotted #606060;
  z-index: 7000;
}
.sortable-placeholder {
  width: 170px;
  height: 128px;
  border: 1px dashed #606060;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.above-all {
  z-index: 10000 !important;
}
/* ============================================= HTML FONTS ====================================== */
/* [1] FONTS */
.font-small {
  font-size: 0.866em !important;
}
.font-medium {
  font-size: 14px !important;
}
.font-large {
  font-size: 1.166em !important;
}
.font-giant {
  font-size: 2.2em !important;
}
.font-bold {
  font-weight: bold;
}
.product-category {
  color: #701a14;
  font-size: auto;
  font-weight: bold;
}
.product-brand {
  color: #606060;
  font-size: auto;
  font-weight: bold;
}
.small {
  font-size: 0.866em;
  line-height: 1.5em;
}
.font-accent {
  color: #701a14;
  font-size: 1.166em;
  font-weight: bold;
}
.font-normal {
  color: #606060;
  font-size: 14px;
  font-weight: normal;
}
.accent-color {
  color: #701a14;
}
.success-color,
.color-success {
  color: #264409;
}
.color-error {
  color: #8a1f11;
}
/* ============================================= HTML SPACERS ====================================== */
.spacer-small {
  height: 5px;
}
.spacer-medium {
  height: 10px;
}
.spacer-large {
  height: 20px;
}
.spacer-hor-small {
  width: 5px;
  display: inline-block;
}
.spacer-hor-medium {
  width: 10px;
  display: inline-block;
}
.spacer-hor-large {
  width: 20px;
  display: inline-block;
}
.spacer-td-small {
  width: 5px;
}
.spacer-td-medium {
  width: 10px;
}
.spacer-td-large {
  width: 20px;
}
/* ============================================= ICONS ====================================== */
.icon {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons.png");
  background-repeat: no-repeat;
}
.icon-arrow-down {
  background-position: 0px 0px;
}
.icon-arrow-down-inverted {
  background-position: 0px -16px;
}
.icon-arrow-up {
  background-position: -16px 0px;
}
.icon-arrow-up-narrow {
  background-position: -112px -112px;
}
.icon-arrow-up-inverted {
  background-position: -16px -16px;
}
.icon-arrow-right {
  background-position: -64px 0px;
}
.icon-arrow-up-down {
  background-position: -32px -32px;
}
.icon-arrow-left-inverted {
  background-position: -64px -32px;
}
.icon-double-bar-inverted {
  background-position: -80px -32px;
}
.icon-arrow-right-inverted {
  background-position: -64px -16px;
}
.icon-cart {
  background-position: -48px 0px;
}
.icon-cart-inverted {
  background-position: -48px -16px;
}
.icon-invite-friend {
  background-position: -32px 0px;
}
.icon-invite-friend-inverted {
  background-position: -32px -16px;
}
.icon-check {
  background-position: -48px -48px;
}
.icon-feedback-positive {
  background-position: 0px -64px;
}
.icon-add {
  background-position: 0px -64px;
}
.icon-product-suggest {
  background-position: 0px -64px;
}
.icon-feedback-neutral {
  background-position: -16px -64px;
}
.icon-feedback-negative {
  background-position: -32px -64px;
}
.icon-question {
  background-position: 0px -48px;
}
.icon-rp {
  background-position: -64px -48px;
}
.icon-required {
  background-position: 0px -48px;
}
.icon-email {
  background-position: 0px -32px;
}
.icon-sms {
  background-position: -16px -32px;
}
.icon-required {
  background-position: 0px -80px;
}
.icon-more-hor {
  background-position: -16px -80px;
}
.icon-more-vert {
  background-position: -32px -80px;
}
.icon-revert {
  background-position: -48px -64px;
  cursor: pointer;
}
.icon-revert:hover {
  background-position: -64px -64px;
}
.icon-edit {
  background-position: -80px -48px;
  cursor: pointer;
}
.icon-edit:hover {
  background-position: -80px -64px;
}
.icon-x {
  background-position: -16px -48px;
  cursor: pointer;
}
.icon-x:hover {
  background-position: -32px -48px;
  cursor: pointer;
}
.icon-addToCart {
  background-position: -80px 0px;
}
.icon-addToCompareChart {
  background-position: -80px -16px;
}
.icon-flag {
  background-position: -96px -80px;
}
.icon-payment {
  background-position: -96px 0px;
}
.icon-shipment {
  background-position: -112px -16px;
}
.icon-delivered {
  background-position: -96px -16px;
}
.icon-returned {
  background-position: -112px -32px;
}
.icon-return-delivered {
  background-position: -96px -32px;
}
.icon-checkout-complete {
  background-position: -96px -48px;
}
.icon-pending-completion {
  background-position: -112px -48px;
}
.icon-receipt {
  background-position: -96px -64px;
}
.icon-trackpackage {
  background-position: -112px -64px;
}
.icon-attention {
  background-position: -96px -80px;
}
.icon-request-feedback {
  background-position: -112px -80px;
}
.icon-order-completed {
  background-position: -96px -96px;
}
.icon-return-completed {
  background-position: -112px -96px;
}
.icon-order-cancelled {
  background-position: -96px -112px;
}
.icon-notes {
  background-position: -48px -80px;
}
.icon-actions {
  background-position: -64px -96px;
}
.icon-actions-inverted {
  background-position: -80px -96px;
}
.icon-messages {
  background-position: -48px -80px;
}
/* tooltip status icon */
.icon-status-order_placed {
  background-position: -96px 0px;
}
.icon-status-order_shipped {
  background-position: -112px -16px;
}
.icon-status-order_delivered {
  background-position: -96px -16px;
}
.icon-status-order_delivered_extended {
  background-position: -96px -16px;
}
.icon-status-order_returned {
  background-position: -112px -32px;
}
.icon-status-order_return_delivered {
  background-position: -112px -96px;
}
.icon-status-order_returned_extended {
  background-position: -112px -32px;
}
.icon-status-order_completed {
  background-position: -96px -96px;
}
.icon-status-order_cancelled {
  background-position: -96px -112px;
}
/* icon status */
.icon-status-listed {
  background-position: 0px -96px;
}
.icon-status-approved {
  background-position: 0px -96px;
}
.icon-status-in_progress {
  background-position: -32px -96px;
}
.icon-status-suspended {
  background-position: -16px -96px;
}
.icon-status-pending_approval {
  background-position: -16px -96px;
}
.icon-status-unlisted {
  background-position: -16px -96px;
}
.icon-status-removed {
  background-position: -48px -96px;
}
.icon-status-denied {
  background-position: -48px -96px;
}
/* ICON MEDIUM */
.icon-medium {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons-medium.png");
}
.icon-medium-x {
  background-position: 0px 0px;
  cursor: pointer;
}
.icon-medium-x:hover {
  background-position: -26px 0px;
}
.icon-medium-trash {
  background-position: -52px 0px;
  cursor: pointer;
}
.icon-medium-trash:hover {
  background-position: -78px 0px;
}
/* ICON LARGE */
.icon-large {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons.png");
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons-large.png");
}
.icon-large-compare-chart {
  background-position: 0px 0px;
}
.icon-large-search {
  background-position: -34px 0px;
}
.icon-large-trash {
  background-position: -68px 0px;
}
.icon-large-rp {
  background-position: -136px 0px;
}
.icon-large-pin {
  background-position: 0px -136px;
  cursor: pointer;
}
.icon-large-pin:hover {
  background-position: -34px -136px;
}
.icon-large-pin-cancel {
  background-position: 0px -102px;
  cursor: pointer;
}
.icon-large-pin-cancel:hover {
  background-position: -34px -102px;
}
.icon-large-quickview {
  background-position: -68px -136px;
  cursor: pointer;
}
.icon-large-quickview:hover {
  background-position: -102px -136px;
}
.icon-large-addToCart {
  background-position: -102px 0px;
  cursor: pointer;
}
.icon-large-addToCart:hover {
  background-position: -102px -32px;
}
/* ============================================= GENERAL ====================================== */body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-width: 1080px;
  height: 100%;
  color: #606060;
  font-size: 14px;
}
a {
  color: #af7a85;
  text-decoration: none;
}
img {
  border: 1px solid #cccccc;
}
/* ============================================= HEADERS ====================================== */h1,
h2,
h3,
h4,
h5 {
  font-style: italic;
  color: inherit;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 14px;
}
hgroup h1 {
  margin-bottom: 5px;
}
/* ============================================= FORMS ====================================== */form {
  position: relative;
  display: inline-block;
}
form label {
  position: relative;
  display: inline-block;
  width: 150px;
  padding: 3px 0px;
  text-align: right;
  vertical-align: top;
}
form > div {
  position: relative;
  margin: 3px 0px;
}
form input {
  display: inline-block;
  height: 1.2em;
  vertical-align: bottom;
}
form input[type='text'] {
  width: 250px;
}
form input.small {
  width: 50px;
}
form input.medium {
  width: 150px;
}
form input[type="submit"] {
  display: inline-block;
  float: right;
  margin-top: 10px;
}
label {
  padding-right: 9px;
  margin-right: 5px;
  font-weight: bold;
}
label.required {
  background: url("/Sites/zend_basic/public/images/required.png") top right no-repeat;
}
textarea {
  display: inline-block;
  height: 100px;
  padding: 0px;
  margin: 0px;
}
button,
input[type='submit'] {
  position: relative;
  display: inline-block;
  overflow: visible;
  min-width: 100px;
  min-height: 25px;
  padding: 0px 5px;
  margin: 0px;
  border: solid 1px #cccccc;
  cursor: pointer;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  color: #606060;
  text-align: center;
  font-size: 1em;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(96, 96, 96, 0.5);
}
button.short,
input[type='submit'].short {
  width: 100px !important;
}
button.medium,
input[type='submit'].medium {
  width: 150px !important;
}
button.long,
input[type='submit'].long {
  width: 200px !important;
}
button:hover,
input[type='submit']:hover {
  background-color: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
}
button:active,
input[type='submit']:active {
  top: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  color: #e0e0e0;
}
button[disabled],
input[type='submit'][disabled] {
  color: #e0e0e0;
  background-color: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  cursor: default;
}
button[disabled]:active,
input[type='submit'][disabled]:active {
  top: 0px;
}
button.large,
input[type='submit'].large {
  line-height: 22px;
  padding: 6px 15px 7px;
  font-size: 20px;
}
button.positive,
input[type='submit'].positive {
  color: white;
  background-color: #5BA825;
  border: 1px solid #377D00;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#98c877), to(#5ca825));
  background: -moz-linear-gradient(top, #98c877, #5ca825);
}
button.positive:hover,
input[type='submit'].positive:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#5ca825), to(#98c877));
  background: -moz-linear-gradient(top, #5ca825, #98c877);
}
button.neutral,
input[type='submit'].neutral {
  color: #514721;
  background-color: #fff6bf;
  border: 1px solid #ffd324;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff6bf), to(#e0cb61));
  background: -moz-linear-gradient(top, #fff6bf, #e0cb61);
}
button.neutral:hover,
input[type='submit'].neutral:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0cb61), to(#fff6bf));
  background: -moz-linear-gradient(top, #e0cb61, #fff6bf);
}
/* ============================================= CONTENT ====================================== */#content-wrapper {
  min-height: 300px;
}
.copyright {
  font-size: 0.866em;
  font-style: italic;
}
/* ============================================= FLASH MESSAGES ====================================== */#flash-messages ul {
  list-style-type: none;
}
/* ---------------------------------- RIALTO LOADING IMAGE ----------------------------------- */
.rialto-loading-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 9000;
}
.rialto-loading-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0px 0px -16px;
  width: 32px;
  height: 32px;
  border: none;
}
#rialto-loading-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 9000;
  position: fixed;
  background-color: rgba(96, 96, 96, 0.5);
}
#rialto-loading-image-overlay img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0px 0px -16px;
  width: 32px;
  height: 32px;
  border: none;
}
/* ---------------------------------- RIALTO FLASH MESSAGE ----------------------------------- */
#rialto-flash-message {
  position: fixed;
  left: 50%;
  top: 30%;
  margin: -100px 0px 0px -200px;
  padding: 20px;
  width: 360px;
  background-color: #988D74;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  z-index: 6000;
}
/* ---------------------------------- RIALTO TOOLTIP ----------------------------------- */
.RialtoTooltip,
.RialtoTooltip\:hover,
.RialtoTooltip\:click,
.RialtoTooltip\:clickAlways {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.RialtoTooltip .rTooltipContent,
.RialtoTooltip\:hover .rTooltipContent,
.RialtoTooltip\:click .rTooltipContent,
.RialtoTooltip\:clickAlways .rTooltipContent {
  cursor: default;
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 2em;
  left: 0px;
  text-align: left;
  z-index: 4000;
}
.RialtoTooltip .rTooltipContent .rTooltipTriggerOverlay,
.RialtoTooltip\:hover .rTooltipContent .rTooltipTriggerOverlay,
.RialtoTooltip\:click .rTooltipContent .rTooltipTriggerOverlay,
.RialtoTooltip\:clickAlways .rTooltipContent .rTooltipTriggerOverlay {
  display: inline-block;
  position: relative;
  top: -2.5em;
  left: -0.5em;
  padding: 0.417em;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  z-index: 95;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.RialtoTooltip .rTooltipContent .rTooltipBody,
.RialtoTooltip\:hover .rTooltipContent .rTooltipBody,
.RialtoTooltip\:click .rTooltipContent .rTooltipBody,
.RialtoTooltip\:clickAlways .rTooltipContent .rTooltipBody {
  position: relative;
  min-width: 300px;
  padding: 0.417em;
  top: -2.6em;
  left: -2em;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 94;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
}
.RialtoTooltip.rTooltipRight .rTooltipContent,
.RialtoTooltip\:hover.rTooltipRight .rTooltipContent,
.RialtoTooltip\:click.rTooltipRight .rTooltipContent,
.RialtoTooltip\:clickAlways.rTooltipRight .rTooltipContent {
  left: auto;
  right: 0em;
}
.RialtoTooltip.rTooltipRight .rTooltipContent .rTooltipTriggerOverlay,
.RialtoTooltip\:hover.rTooltipRight .rTooltipContent .rTooltipTriggerOverlay,
.RialtoTooltip\:click.rTooltipRight .rTooltipContent .rTooltipTriggerOverlay,
.RialtoTooltip\:clickAlways.rTooltipRight .rTooltipContent .rTooltipTriggerOverlay {
  left: auto;
  right: -0.5em;
  float: right;
}
.RialtoTooltip.rTooltipRight .rTooltipContent .rTooltipBody,
.RialtoTooltip\:hover.rTooltipRight .rTooltipContent .rTooltipBody,
.RialtoTooltip\:click.rTooltipRight .rTooltipContent .rTooltipBody,
.RialtoTooltip\:clickAlways.rTooltipRight .rTooltipContent .rTooltipBody {
  clear: both;
  left: auto;
  right: -2em;
}
/* ---------------------------------- RIALTO IMAGE BOOK ----------------------------------- */
.rialtoImageBook {
  display: inline-block;
  line-height: 0px;
}
.rialtoImageBook .rialtoImageBook-main-image {
  display: table-cell;
  margin: 0px;
  padding: 0px;
  border: 1px solid #606060;
  background: white;
  text-align: center;
  vertical-align: middle;
}
.rialtoImageBook .rialtoImageBook-main-image img {
  max-width: 100%;
  max-height: 100%;
}
.rialtoImageBook ul {
  margin-top: 5px;
}
.rialtoImageBook ul li {
  display: inline-block;
  float: left;
  border: 1px solid #cccccc;
  text-align: center;
  background: white;
}
.rialtoImageBook ul li:last-of-type {
  margin: 0px;
}
.rialtoImageBook ul li img {
  width: 100%;
  height: 100%;
}
.rialtoImageBook ul li:hover {
  border-color: #606060;
}
.rialtoImageBook ul li.selected {
  border-color: #606060;
}
.rialtoImageBook ul li.selected a {
  cursor: default;
}
.rialtoImageBook img {
  border: none;
}
/* IMAGE-BOOK-LARGE */
.rib-large .rialtoImageBook-main-image {
  width: 302px;
  height: 350px;
}
.rib-large ul li {
  width: 60px;
  height: 60px;
  margin-right: 18px;
  background: white;
}
/* IMAGE-BOOK-MEDIUM */
.rib-medium .rialtoImageBook-main-image {
  width: 199px;
  height: 200px;
}
.rib-medium ul li {
  width: 40px;
  height: 40px;
  margin-right: 11px;
  background: white;
}
/* IMAGE-BOOK-SMALL */
.rib-small .rialtoImageBook-main-image {
  width: 179px;
  height: 200px;
}
.rib-small ul li {
  width: 35px;
  height: 35px;
  margin-right: 11px;
  background: white;
}
/* IMAGE-BOOK-WINDOW */
.rib-window {
  width: 100%;
  height: 100%;
}
.rib-window .rialtoImageBook-main-image {
  display: block;
  width: 100%;
  height: 100%;
}
.rib-window .rib-window-left {
  display: inline-block;
  width: 90%;
  height: 100%;
}
.rib-window .rib-window-right {
  display: inline-block;
  width: 9%;
  vertical-align: top;
}
.rib-window .rib-window-right ul li {
  width: 60px;
  height: 60px;
  margin-right: 18px;
  background: white;
}
/* ---------------------------------- RIALTO FORM VALIDATOR ADVICE MESSGE ----------------------------------- */
.rv-advice {
  position: absolute;
  display: inline-block;
  opacity: 0;
  margin-left: 3px;
  padding: 3px 3px 3px 5px;
  min-width: 100px;
  background-color: #fbc2c4;
  color: #606060;
  font-size: 0.866em;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
form input.validation-failed {
  background-color: #fbe3e4;
}
/* ---------------------------------- RIALTO IMAGE SCROLL SWITCH ----------------------------------- */
.rImageScrollSwitch-alt-images {
  display: none;
}
/* ---------------------------------- RIALTO PAGINATION ----------------------------------- */
.rPagination {
  position: fixed;
  width: 455px;
  height: 30px;
  padding-top: 8px;
  margin-left: -240px;
  bottom: 30px;
  left: 50%;
  border: 1px solid #ffffff;
  border-bottom: none;
  color: #ffffff;
  background-color: rgba(96, 96, 96, 0.9);
  text-align: center;
  font-size: 16px;
}
.rPagination a {
  color: #ffffff;
  text-decoration: none;
}
.rPagination > a {
  display: inline-block;
  vertical-align: top;
}
.rPagination .rPaginationViewportCurrent {
  position: absolute;
  left: 228px;
  top: -6px;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons.png");
  background-repeat: no-repeat;
  background-position: 0px -16px;
  margin-left: -8px;
}
.rPagination .rPaginationViewport {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  width: 330px;
  overflow: hidden;
  display: inline-block;
}
.rPagination .rPaginationViewport ul {
  position: relative;
  overflow: hidden;
  height: 25px;
  width: 3000px;
  display: block;
}
.rPagination .rPaginationViewport ul li {
  display: inline-block;
  float: left;
  text-align: center;
  width: 30px;
  padding: 0px;
}
.rPagination .rPaginationViewport ul li.rPaginationCurrent {
  font-weight: bold;
  font-size: 26px;
  margin-top: -7px;
}
.rPaletteColor {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.rPaletteColor-small {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
.rPaletteText {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  width: 57px;
  height: 16px;
  text-align: center;
  padding: 1px 3px 3px 3px;
}
.rPaletteImage {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  text-align: center;
}
.rPaletteImage img {
  border: none;
}
/* ---------------------------------- RIALTO PALETTE ----------------------------------- */
.rPalette,
.rPaletteIgnore {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  border: 1px solid #cccccc;
  color: #606060;
  background-color: #ffffff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.rPalette li,
.rPaletteIgnore li {
  display: inline-block;
  float: none;
  margin: 2px;
  padding: 0px;
}
.rPalette li.rSelected .rPaletteColor,
.rPaletteIgnore li.rSelected .rPaletteColor,
.rPalette li.rSelected .rPaletteText,
.rPaletteIgnore li.rSelected .rPaletteText,
.rPalette li.rSelected .rPaletteImage,
.rPaletteIgnore li.rSelected .rPaletteImage {
  border: 1px solid #cccccc;
  -moz-box-shadow: 0px 0px 4px 2px #606060;
  -webkit-box-shadow: 0px 0px 4px 2px #606060;
  box-shadow: 0px 0px 4px 2px #606060;
}
.rPalette li:hover .rPaletteColor,
.rPaletteIgnore li:hover .rPaletteColor,
.rPalette li:hover .rPaletteText,
.rPaletteIgnore li:hover .rPaletteText,
.rPalette li:hover .rPaletteImage,
.rPaletteIgnore li:hover .rPaletteImage {
  border: 1px solid #606060;
}
.rPalette.rPaletteInverted,
.rPaletteIgnore.rPaletteInverted {
  color: #ffffff;
  background-color: #606060;
}
.rPalette.rPaletteInverted .rPaletteColor,
.rPaletteIgnore.rPaletteInverted .rPaletteColor,
.rPalette.rPaletteInverted .rPaletteText,
.rPaletteIgnore.rPaletteInverted .rPaletteText,
.rPalette.rPaletteInverted .rPaletteImage,
.rPaletteIgnore.rPaletteInverted .rPaletteImage {
  border: 1px solid #a6a6a6;
}
.rPalette.rPaletteInverted li.rSelected .rPaletteColor,
.rPaletteIgnore.rPaletteInverted li.rSelected .rPaletteColor,
.rPalette.rPaletteInverted li.rSelected .rPaletteText,
.rPaletteIgnore.rPaletteInverted li.rSelected .rPaletteText,
.rPalette.rPaletteInverted li.rSelected .rPaletteImage,
.rPaletteIgnore.rPaletteInverted li.rSelected .rPaletteImage {
  border: 1px solid #606060;
  -moz-box-shadow: 0px 0px 4px 2px #ffffff;
  -webkit-box-shadow: 0px 0px 4px 2px #ffffff;
  box-shadow: 0px 0px 4px 2px #ffffff;
}
.rPalette.rPaletteInverted li:hover .rPaletteColor,
.rPaletteIgnore.rPaletteInverted li:hover .rPaletteColor,
.rPalette.rPaletteInverted li:hover .rPaletteText,
.rPaletteIgnore.rPaletteInverted li:hover .rPaletteText,
.rPalette.rPaletteInverted li:hover .rPaletteImage,
.rPaletteIgnore.rPaletteInverted li:hover .rPaletteImage {
  border: 1px solid #ffffff;
}
.rPalette.rPaletteLarge,
.rPaletteIgnore.rPaletteLarge {
  /*.rPaletteText {
			width: 74px;
			height: 20px;
			font-size: @fontSizeLarge;
		}*/

}
.rPalette.rPaletteLarge .rPaletteColor,
.rPaletteIgnore.rPaletteLarge .rPaletteColor {
  width: 34px;
  height: 34px;
}
.rPalette.rPaletteHideContainer,
.rPaletteIgnore.rPaletteHideContainer {
  background-color: transparent;
  border: none;
}
.rPalette.rPaletteGiant .rPaletteImage,
.rPaletteIgnore.rPaletteGiant .rPaletteImage {
  width: 100px;
  height: 100px;
}
/* ============================================= COLORS ====================================== */
.rPaletteColor-red {
  background-color: #ff0000;
}
.rPaletteColor-orange {
  background-color: #ffa500;
}
.rPaletteColor-yellow {
  background-color: #ffff00;
}
.rPaletteColor-green {
  background-color: #008000;
}
.rPaletteColor-blue {
  background-color: #0000ff;
}
.rPaletteColor-purple {
  background-color: #4b0082;
}
.rPaletteColor-pink {
  background-color: #ee82ee;
}
.rPaletteColor-brown {
  background-color: #5c4033;
}
.rPaletteColor-tan {
  background-color: #e0caae;
}
.rPaletteColor-black {
  background-color: #000000;
}
.rPaletteColor-gray {
  background-color: #999999;
}
.rPaletteColor-white {
  background-color: #ffffff;
}
.rPaletteColor-indigo {
  background-color: #820BBB;
}
.rPaletteColor-violet {
  background-color: #4F2F4F;
}
.rPaletteColor-pink {
  background-color: #ee82ee;
}
.rPaletteColor-dark_tan {
  background-color: #E3701A;
}
.rPaletteColor-light_tan {
  background-color: #FFCC99;
}
.rPaletteColor-brown {
  background-color: #5c4033;
}
.rPaletteColor-tan {
  background-color: #e0caae;
}
.rPaletteColor-black {
  background-color: #000000;
}
.rPaletteColor-grey {
  background-color: #999999;
}
.rPaletteColor-silver {
  background-color: #C0C0C0;
}
.rPaletteColor-white {
  background-color: #ffffff;
}
.rPaletteColor-gold {
  background-color: #FBB917;
}
.rPaletteColor-other {
  background-color: #ffffff;
  background-image: url(../../../../../images/color-other.png);
}
/* ---------------------------------- RIALTO TABLE ACCORDION ----------------------------------- */
.rTable {
  border-spacing: 0px;
  border-collapse: collapse;
  color: #606060;
}
.rTable thead th {
  background: none;
  text-align: left;
  border-bottom: 2px dashed #cccccc;
  padding: 4px 0px 2px 0px;
  margin: 0px;
  cursor: pointer;
}
.rTable caption {
  background: none;
  margin: 0px;
  padding: 0px;
}
.rTable tr.positive {
  background-color: #e6efc2;
}
.rTable tr.negative {
  background-color: #fbe3e4;
}
.rTable tr.neutral {
  background-color: #fff6bf;
}
.rTable tr.inactive {
  color: #cccccc;
}
.rTable td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 3px;
}
.rTable .rTable-header-row td {
  font-weight: bold;
  border-bottom: none;
  background-color: #e0e0e0;
  color: #ffffff;
}
.rTable .rTable-header-row td.first {
  border-left: 1px solid #e0e0e0;
}
.rTable .rTable-header-row td.last {
  border-right: 1px solid #e0e0e0;
}
.rTable td.indent {
  width: 10px;
  background-color: #ffffff;
  border: none;
}
.rTable th.headerSortDown {
  background-color: #d5edf8;
}
.rTable th.headerSortDown .icon {
  margin-bottom: -1px;
}
.rTable th.headerSortDown .icon-arrow-up-down {
  background-position: -16px 0px;
}
.rTable th.headerSortUp {
  background-color: #d5edf8;
}
.rTable th.headerSortUp .icon {
  margin-bottom: -1px;
}
.rTable th.headerSortUp .icon-arrow-up-down {
  background-position: 0px 0px;
}
.rTable .icon-arrow-up-down {
  margin-bottom: -1px;
}
.rTableClickable {
  border-spacing: 0px;
  border-collapse: collapse;
  color: #606060;
}
.rTableClickable thead th {
  background: none;
  text-align: left;
  border-bottom: 2px dashed #cccccc;
  padding: 4px 0px 2px 0px;
  margin: 0px;
  cursor: pointer;
}
.rTableClickable caption {
  background: none;
  margin: 0px;
  padding: 0px;
}
.rTableClickable tr.positive {
  background-color: #e6efc2;
}
.rTableClickable tr.negative {
  background-color: #fbe3e4;
}
.rTableClickable tr.neutral {
  background-color: #fff6bf;
}
.rTableClickable tr.inactive {
  color: #cccccc;
}
.rTableClickable td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 3px;
}
.rTableClickable .rTable-header-row td {
  font-weight: bold;
  border-bottom: none;
  background-color: #e0e0e0;
  color: #ffffff;
}
.rTableClickable .rTable-header-row td.first {
  border-left: 1px solid #e0e0e0;
}
.rTableClickable .rTable-header-row td.last {
  border-right: 1px solid #e0e0e0;
}
.rTableClickable td.indent {
  width: 10px;
  background-color: #ffffff;
  border: none;
}
.rTableClickable th.headerSortDown {
  background-color: #d5edf8;
}
.rTableClickable th.headerSortDown .icon {
  margin-bottom: -1px;
}
.rTableClickable th.headerSortDown .icon-arrow-up-down {
  background-position: -16px 0px;
}
.rTableClickable th.headerSortUp {
  background-color: #d5edf8;
}
.rTableClickable th.headerSortUp .icon {
  margin-bottom: -1px;
}
.rTableClickable th.headerSortUp .icon-arrow-up-down {
  background-position: 0px 0px;
}
.rTableClickable .icon-arrow-up-down {
  margin-bottom: -1px;
}
.rTableClickable > tbody > tr {
  height: 50px;
  cursor: pointer;
}
.rTableClickable > tbody > tr:hover {
  background-color: #eae9e9;
}
.rTableClickable > tbody > tr:hover td.borderless {
  background-color: #ffffff;
}
.rTableClickable > tbody > tr.no-hover:hover {
  background-color: inherit;
  cursor: default;
}
.rTableClickable thead tr th {
  height: 30px;
  cursor: auto;
  /*&:hover { 
			//background-color: @bgColorBase;
		}*/

}
.rialtoTableAccordion {
  border-spacing: 0px;
  border-collapse: collapse;
  color: #606060;
  /*tbody > tr > td { border: none; }*/

}
.rialtoTableAccordion thead th {
  background: none;
  text-align: left;
  border-bottom: 2px dashed #cccccc;
  padding: 4px 0px 2px 0px;
  margin: 0px;
  cursor: pointer;
}
.rialtoTableAccordion caption {
  background: none;
  margin: 0px;
  padding: 0px;
}
.rialtoTableAccordion tr.positive {
  background-color: #e6efc2;
}
.rialtoTableAccordion tr.negative {
  background-color: #fbe3e4;
}
.rialtoTableAccordion tr.neutral {
  background-color: #fff6bf;
}
.rialtoTableAccordion tr.inactive {
  color: #cccccc;
}
.rialtoTableAccordion td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 3px;
}
.rialtoTableAccordion .rTable-header-row td {
  font-weight: bold;
  border-bottom: none;
  background-color: #e0e0e0;
  color: #ffffff;
}
.rialtoTableAccordion .rTable-header-row td.first {
  border-left: 1px solid #e0e0e0;
}
.rialtoTableAccordion .rTable-header-row td.last {
  border-right: 1px solid #e0e0e0;
}
.rialtoTableAccordion td.indent {
  width: 10px;
  background-color: #ffffff;
  border: none;
}
.rialtoTableAccordion th.headerSortDown {
  background-color: #d5edf8;
}
.rialtoTableAccordion th.headerSortDown .icon {
  margin-bottom: -1px;
}
.rialtoTableAccordion th.headerSortDown .icon-arrow-up-down {
  background-position: -16px 0px;
}
.rialtoTableAccordion th.headerSortUp {
  background-color: #d5edf8;
}
.rialtoTableAccordion th.headerSortUp .icon {
  margin-bottom: -1px;
}
.rialtoTableAccordion th.headerSortUp .icon-arrow-up-down {
  background-position: 0px 0px;
}
.rialtoTableAccordion .icon-arrow-up-down {
  margin-bottom: -1px;
}
.rialtoTableAccordion > tbody > tr {
  height: 50px;
  cursor: pointer;
}
.rialtoTableAccordion > tbody > tr:hover {
  background-color: #eae9e9;
}
.rialtoTableAccordion > tbody > tr:hover td.borderless {
  background-color: #ffffff;
}
.rialtoTableAccordion > tbody > tr.no-hover:hover {
  background-color: inherit;
  cursor: default;
}
.rialtoTableAccordion thead tr th {
  height: 30px;
  cursor: auto;
  /*&:hover { 
			//background-color: @bgColorBase;
		}*/

}
.rialtoTableAccordion tr.rialtoTableAccordionHidden {
  height: 0px;
  display: none;
  background: #eadddc;
}
.rialtoTableAccordion tr.rialtoTableAccordionHidden:hover {
  background: #eadddc;
  cursor: auto;
}
.rialtoTableAccordion tr.rialtoTableAccordionHidden > td {
  position: relative;
  padding: 0px;
  border-bottom: none;
}
.rialtoTableAccordion tr.rialtoTableAccordionHidden > td .rTableAccordionContent {
  position: relative;
  overflow: hidden;
}
.rialtoTableAccordion tr.rialtoTableAccordionHidden.rSelected {
  display: table-row;
}
.rialtoTableAccordion tr.rialtoTableAccordionHidden.rSelected > td {
  border-bottom: 1px solid #cccccc !important;
}
.rialtoTableAccordion .RialtoTableAccordion.rSelected {
  background-color: #eae9e9;
}
.rialtoTableAccordion .RialtoTableAccordion.rSelected td {
  font-weight: bold;
  background-color: #e0e0e0;
  color: white;
}
.rialtoTableAccordion .RialtoTableAccordion.rSelected .borderless {
  background-color: #ffffff;
}
.rialtoTableAccordion .RialtoTableAccordion.rSelected:hover {
  cursor: auto;
}
.rialtoTableAccordion .RialtoTableAccordion.rSelected td.first {
  border-left: 1px solid #e0e0e0;
}
.rialtoTableAccordion .RialtoTableAccordion.rSelected td.last {
  border-right: 1px solid #e0e0e0;
}
.rialtoTableAccordion thead tr th {
  padding: 3px;
}
/* ============================================= RIALTO FILTERS ====================================== */
.rFilters {
  display: block;
  width: 224px;
  background-color: #ffffff;
}
.rFilters h1 {
  height: 24px;
  margin: 0px;
  padding-left: 15px;
  padding-top: 6px;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
  background-color: #701a14;
  font-size: 1.5em;
  color: #ffffff;
}
.rFilters nav > ul > li {
  float: none;
  border-top: 1px solid #cccccc;
}
.rFilters nav > ul > li:last-of-type {
  border-bottom: 1px solid #cccccc;
}
.rFilters nav > ul > li .icon-arrow-right {
  float: right;
  margin-right: 5px;
}
.rFilters nav > ul > li a {
  display: block;
  height: 20px;
  margin: 0px;
  padding-top: 2px;
  padding-left: 24px;
  color: #606060;
  text-decoration: none;
}
.rFilters nav > ul > li .rFiltersList {
  display: none;
  position: absolute;
  top: -1px;
  right: -252px;
  width: 250px;
  max-height: 300px;
  padding: 5px 1px 5px 1px;
  background-color: inherit;
  color: #ffffff;
  -moz-border-radius: 0px 8px 8px 8px;
  -webkit-border-radius: 0px 8px 8px 8px;
  border-radius: 0px 8px 8px 8px;
  -moz-box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  z-index: 2;
  /*.palette {
				border: none;
				background-color: transparent;
				margin-left: 10px;
				> li.selected {
					.color, .toggle {
						border: 1px solid @colorBase;
						.box-shadow(0px, 0px, 4px, 2px, @bgColorBase, 0% );
					}
				}
				> li:hover {
					.color, .toggle {
						border: 1px solid @colorBase;
					}
				}
			}*/

}
.rFilters nav > ul > li .rFiltersList > .RialtoFilters\:listItem {
  float: none;
  display: block;
  height: 20px;
  margin: 0px;
  padding: 0px 0px 0px 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.rFilters nav > ul > li .rFiltersList > .RialtoFilters\:listItem:hover {
  background-color: #ffffff;
  color: #606060;
}
.rFilters nav > ul > li .rFiltersList > .RialtoFilters\:listItem.rSelected {
  background-image: url('check.png');
  background-position: 0px 1px;
  background-repeat: no-repeat;
}
.rFilters nav > ul > li .rFiltersList .section-header {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  border-color: #ffffff;
  color: #ffffff;
  font-weight: normal;
}
.rFilters nav > ul > li:hover {
  height: 21px;
  margin-right: -1px;
  background-color: rgba(96, 96, 96, 0.9);
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
  border-right: 1px solid #7a7a7a;
}
.rFilters nav > ul > li:hover .icon-arrow-right {
  background-position: -64px -16px;
}
.rFilters nav > ul > li:hover a {
  color: #ffffff;
}
.rFilters nav > ul > li:hover > ul {
  display: block;
}
.rFilters nav > ul > li:last-of-type:hover {
  height: 22px;
}
.rFilters ul#saved-searches .section-header {
  width: 230px;
  height: 0px;
  margin: 0px 10px 5px 10px;
  line-height: 0px;
}
.rFilters ul#saved-searches li a {
  padding-left: 0px;
}
.rFilters ul#saved-searches li:hover a {
  color: #606060;
}
.rFilters ul#saved-searches li.no-hover:hover {
  background-color: transparent;
  color: inherit;
  cursor: default;
}
.rFiltersSelectedList {
  font-size: 0.822em;
  padding: 5px;
}
.rFiltersSelectedList .section-header {
  margin: 5px 0px 0px 0px;
  font-weight: bold;
  font-size: 1em;
  color: #701a14;
  border: none;
}
.rFiltersSelectedList > ul {
  margin-top: 10px;
}
.rFiltersSelectedList > ul > li {
  width: 100%;
  height: 1.9em;
  padding-left: 10px;
}
.rFiltersSelectedList > ul > li .icon-x {
  float: right;
  margin-right: 10px;
}
.rFiltersSelectedList > ul > li.rialtoFiltersAll {
  display: block;
}
.rDropdown {
  position: relative;
  display: inline-block;
}
.rDropdown .RialtoDropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 19px;
  height: 18px;
  padding: 2px 26px 2px 4px;
  color: #ffffff;
  background-color: #7a7a7a;
}
.rDropdown .RialtoDropdown .rdActionsIcon {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons.png");
  background-repeat: no-repeat;
  background-position: -80px -96px;
}
.rDropdown .RialtoDropdown .rdArrow {
  position: absolute;
  right: 4px;
  padding-left: 2px;
  border-left: solid 1px #606060;
}
.rDropdown .RialtoDropdown .rdArrow span {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/rialtoPublicLibrary/images/icons.png");
  background-repeat: no-repeat;
  background-position: 0px -16px;
}
.rDropdown ul {
  display: none;
  position: absolute;
  top: 22px;
  left: 0px;
  right: auto;
  white-space: nowrap;
  color: #ffffff;
  background-color: #7a7a7a;
  -moz-box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(96, 96, 96, 0.5);
  -moz-border-radius: 0px 5px 5px 5px;
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
}
.rDropdown ul li {
  padding: 2px;
}
.rDropdown ul a {
  display: block;
  padding: 5px 10px 5px 10px;
  height: 22px;
  color: inherit;
  text-decoration: none;
}
.rDropdown ul a:hover {
  text-decoration: underline;
  background-color: #ffffff;
  color: #606060;
}
.rDropdown.rDropdownLeft ul {
  left: auto;
  right: 0px;
  -moz-border-radius: 5px 0px 5px 5px;
  -webkit-border-radius: 5px 0px 5px 5px;
  border-radius: 5px 0px 5px 5px;
}
.rialtoStars .RialtoStars\:star {
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url('rialtoStars.png') top left no-repeat;
}
.rialtoStars .RialtoStars\:star.rialtoStarsHover {
  background-position: 0px -15px;
}
.rialtoStars .RialtoStars\:star.rialtoStarsFull {
  background-position: 0px -15px;
}
.rialtoScrollable {
  overflow-y: hidden;
}
.rialtoScrollable::-webkit-scrollbar {
  width: 8px;
}
.rialtoScrollable::-webkit-scrollbar-track {
  margin: 4px;
}
.rialtoScrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(96, 96, 96, 0.19999999999999996);
}
.rialtoScrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(96, 96, 96, 0.30000000000000004);
}
.rialtoScrollable::-webkit-scrollbar-thumb:active {
  background-color: rgba(96, 96, 96, 0.4);
}
.rialtoScrollable.rialtoScrollableHover {
  overflow-y: scroll;
}
.rialtoScrollable.rialtoScrollableInverted::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}
.rialtoScrollable.rialtoScrollableInverted::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.rialtoScrollable.rialtoScrollableInverted::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.6);
}
/***** Attributes Order
** postition / float
** width / height
** margins / padding
** borders
** backgrounds
** content
** z-index
*****/
/* ============================================= GENERAL ====================================== */
body {
  background: #f8efee url("/Sites/zend_basic/public/images/bg.gif") repeat top center;
}
#wrapper {
  display: block;
  width: 960px;
  margin: 0px auto;
  padding: 10px;
}
/* ============================================= HEADER ====================================== */
header {
  display: block;
  margin: 0px 0px 10px 0px;
}
/* ============================================= NAV ====================================== */
nav.nav-main {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  padding: 0px;
}
nav.nav-main ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0px;
  width: auto;
  margin: 0px;
  padding: 4px 0px;
  list-style-type: none;
  background-color: rgba(96, 96, 96, 0.9);
  z-index: 100;
  -moz-border-radius: 0px 4px 4px 4px;
  -webkit-border-radius: 0px 4px 4px 4px;
  border-radius: 0px 4px 4px 4px;
  -moz-box-shadow: 1px 1px 1px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 1px 1px 1px 0px rgba(96, 96, 96, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
nav.nav-main ul li {
  position: relative;
  width: 150px;
  margin: 0px;
  padding: 0px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
nav.nav-main ul li:hover {
  background: rgba(96, 96, 96, 0.9);
}
nav.nav-main ul li:hover a {
  color: #ffffff;
}
nav.nav-main ul li a {
  display: block;
  height: 20px;
  padding: 10px;
}
nav.nav-main ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
nav.nav-main > ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  width: auto;
  padding: 0px;
  border: 3px double #DAD2D2;
  border-left: none;
  border-right: none;
  background-color: transparent;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(96, 96, 96, 0.5);
}
nav.nav-main > ul > li {
  display: inline-block;
  width: auto;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.title-box {
  margin: 0px;
  vertical-align: top;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.title-box > h1 {
  height: 24px;
  padding: 8px 10px 0px 5px;
  margin: 0px;
  font-style: normal;
  border-bottom: 1px solid #cccccc;
  background-color: #eadddc;
  color: #701a14;
  font-size: 1.167em;
  font-weight: bold;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  vertical-align: middle;
}
.title-box .title-box-content {
  padding: 5px;
}
.title-box .active {
  background-color: #EAE9E9;
}
/* ============================================= FOOTER ====================================== */
footer {
  position: relative;
}
footer nav.nav-main {
  font-size: 0.866em;
}
footer nav.nav-main ul {
  text-align: center;
  border-bottom: none;
}
footer .copyright {
  position: absolute;
  top: 10px;
  right: 10px;
}
